body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: block;
  margin: 8px;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  /* color: white; */
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
}